In [1]:
import pandas as pd
import numpy
import nltk

In [2]:
news_train=pd.read_excel("Data_Train.xlsx",index=False)

In [3]:
section_0=news_train['SECTION']==0
section_1=news_train['SECTION']==1
section_2=news_train['SECTION']==2
section_3=news_train['SECTION']==3

In [7]:
class_0=news_train[section_0]
class_1=news_train[section_1]
class_2=news_train[section_2]
class_3=news_train[section_3]

In [8]:
news0=class_0.pop("STORY")
news1=class_1.pop("STORY")
news2=class_2.pop("STORY")
news3=class_3.pop("STORY")

0       But the most painful was the huge reversal in ...
2       Most Asian currencies were trading lower today...
4       In global markets, gold prices edged up today ...
6       Mumbai: India Inc's external commercial borrow...
7       On Wednesday, Federal Reserve Chairman Jerome ...
11      So far this year, the rupee has gained 0.7%, w...
14      On Tuesday, Powell said a healthy US economy h...
17      The company will hive off its ratings business...
22      GKN Securities which was barred over misuse of...
35      5) Long positions were seen receding in the In...
36      6) Some analysts expect volatility to remain h...
39      NIIT Ltd holds about 23% stake, while Pawar an...
42      China’s March manufacturing purchasing manager...
48      5) Polycab India made a blockbuster debut toda...
50      Dubai: The Indian rupee’s eye-watering rally h...
53      Stock markets welcomed the news, with European...
54      Underlining the lack of excess supply, Jakob c...
62      Perhaps, lowering goods and services tax on un...
64      Asian currencies were trading lower. China Ren...
65      Anto: Copper will face more disruptions this y...
78      India VIX, or often called the "fear gauge", i...
106     The successful listing of the Embassy Office P...
107     "We are seeing this positive rally since Febru...
110     While there’s general support within the Organ...
119     Polycab had launched its IPO on 5 April to rai...
123     “I did not come here and appear for the interv...
124     In a separate release, the bourse said that it...
132     Shares of Emami Ltd rose as much as 15% to ₹40...
138     Forex traders say easing crude oil prices, sus...
143     Output: China's crude steel output grew 10% in...
                              ...
7439    Asian currencies were trading lower. Malaysian...
7440    Mumbai: To safeguard equity investors from ano...
7447    But investors welcomed the news, with shares r...
7448    Money markets are pricing around a 90 percent ...
7450    Meanwhile, those cheering growth in the GFCF c...
7454    The notes will mature on 3 April 2024 and all ...
7455    "Military action in Libya, which could disrupt...
7459    The 10-year bond yield stood at 7.34%, lower t...
7463    Japan's Economy Minister Toshimitsu Motegi sai...
7467    "As a base case scenario, we could expect over...
7471    No money was raised through rupee denominated ...
7473    So, while the Sensex may have reached touching...
7476    India’s foreign inflows are leading Asia, with...
7482    9) Infosys and TCS kick off the March quarter ...
7483    The dollar index, which measures the US curren...
7484    Vinod Nair, Head of Research, Geojit Financial...
7490    "People are sort of looking for direction," sa...
7501    On Monday, Jet Airways CEO Vinay Dube said tha...
7507    “It is better to be over-capitalized than unde...
7522    6) Global concerns have also receded, with glo...
7524    As per the data, the rights issue had received...
7528    3) Foreign institutional investors bought a ne...
7531    Moreover, management’s confidence in further 2...
7538    In the US, there are signs that the oil produc...
7564    Net income at 11 of the 15 Nifty companies tha...
7567    So far this year, the rupee has weakened 0.7%,...
7569    Demand for shorter-maturity bonds is also high...
7575    Equities gained in China as exchanges reopened...
7579    US stocks opened lower on Thursday as worries ...
7591    In the swap auction conducted on 23 April, the...
Name: STORY, Length: 1241, dtype: object

In [27]:
news3.head(-5)

0       But the most painful was the huge reversal in ...
2       Most Asian currencies were trading lower today...
4       In global markets, gold prices edged up today ...
6       Mumbai: India Inc's external commercial borrow...
7       On Wednesday, Federal Reserve Chairman Jerome ...
11      So far this year, the rupee has gained 0.7%, w...
14      On Tuesday, Powell said a healthy US economy h...
17      The company will hive off its ratings business...
22      GKN Securities which was barred over misuse of...
35      5) Long positions were seen receding in the In...
36      6) Some analysts expect volatility to remain h...
39      NIIT Ltd holds about 23% stake, while Pawar an...
42      China’s March manufacturing purchasing manager...
48      5) Polycab India made a blockbuster debut toda...
50      Dubai: The Indian rupee’s eye-watering rally h...
53      Stock markets welcomed the news, with European...
54      Underlining the lack of excess supply, Jakob c...
62      Perhaps, lowering goods and services tax on un...
64      Asian currencies were trading lower. China Ren...
65      Anto: Copper will face more disruptions this y...
78      India VIX, or often called the "fear gauge", i...
106     The successful listing of the Embassy Office P...
107     "We are seeing this positive rally since Febru...
110     While there’s general support within the Organ...
119     Polycab had launched its IPO on 5 April to rai...
123     “I did not come here and appear for the interv...
124     In a separate release, the bourse said that it...
132     Shares of Emami Ltd rose as much as 15% to ₹40...
138     Forex traders say easing crude oil prices, sus...
143     Output: China's crude steel output grew 10% in...
                              ...
7439    Asian currencies were trading lower. Malaysian...
7440    Mumbai: To safeguard equity investors from ano...
7447    But investors welcomed the news, with shares r...
7448    Money markets are pricing around a 90 percent ...
7450    Meanwhile, those cheering growth in the GFCF c...
7454    The notes will mature on 3 April 2024 and all ...
7455    "Military action in Libya, which could disrupt...
7459    The 10-year bond yield stood at 7.34%, lower t...
7463    Japan's Economy Minister Toshimitsu Motegi sai...
7467    "As a base case scenario, we could expect over...
7471    No money was raised through rupee denominated ...
7473    So, while the Sensex may have reached touching...
7476    India’s foreign inflows are leading Asia, with...
7482    9) Infosys and TCS kick off the March quarter ...
7483    The dollar index, which measures the US curren...
7484    Vinod Nair, Head of Research, Geojit Financial...
7490    "People are sort of looking for direction," sa...
7501    On Monday, Jet Airways CEO Vinay Dube said tha...
7507    “It is better to be over-capitalized than unde...
7522    6) Global concerns have also receded, with glo...
7524    As per the data, the rights issue had received...
7528    3) Foreign institutional investors bought a ne...
7531    Moreover, management’s confidence in further 2...
7538    In the US, there are signs that the oil produc...
7564    Net income at 11 of the 15 Nifty companies tha...
7567    So far this year, the rupee has weakened 0.7%,...
7569    Demand for shorter-maturity bonds is also high...
7575    Equities gained in China as exchanges reopened...
7579    US stocks opened lower on Thursday as worries ...
7591    In the swap auction conducted on 23 April, the...
Name: STORY, Length: 1241, dtype: object

In [9]:
def words(num,news):
    text=news.iloc[num] 
    words = nltk.word_tokenize(text)
    return words

In [17]:
words(0,news0)

['How',
 'formidable',
 'is',
 'the',
 'opposition',
 'alliance',
 'among',
 'Congress',
 ',',
 'Jharkhand',
 'Mukti',
 'Morcha',
 '(',
 'JMM',
 ')',
 'and',
 'Jharkhand',
 'Vikas',
 'Morcha',
 '(',
 'Prajatantrik',
 ')',
 '?']

In [11]:
import string

In [12]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [13]:
useless_words=nltk.corpus.stopwords.words("english")+list(string.punctuation)

In [14]:
def build_bag_of_words_features_filtered(words):
    return {
        word:1 for word in words \
        if not word in useless_words}

In [18]:
build_bag_of_words_features_filtered(words(0,news0))

{'How': 1,
 'formidable': 1,
 'opposition': 1,
 'alliance': 1,
 'among': 1,
 'Congress': 1,
 'Jharkhand': 1,
 'Mukti': 1,
 'Morcha': 1,
 'JMM': 1,
 'Vikas': 1,
 'Prajatantrik': 1}

In [20]:
news0_features = [
    (build_bag_of_words_features_filtered(words(f,news0)), '0') \
    for f in range (0,1681)
]

In [21]:
print(news0_features[3])

({'As': 1, 'NDA': 1, 'seeks': 1, 're-election': 1, 'agriculture': 1, 'form': 1, 'important': 1, 'part': 1, 'poll': 1, 'narrative': 1, 'BJP': 1, 'banking': 1, 'PM-Kisan': 1, 'scheme': 1, 'MSP': 1, 'promise': 1, 'How': 1, 'rural': 1, 'India': 1, 'votes': 1, 'largely': 1, 'determine': 1, 'fate': 1, 'political': 1, 'parties': 1, 'general': 1, 'elections': 1, 'polling': 1, 'begins': 1, '11': 1, 'April': 1, 'The': 1, 'focus': 1, 'boils': 1, 'simple': 1, 'arithmetics—only': 1, '57': 1, '542': 1, 'parliamentary': 1, 'constituencies': 1, 'urban': 1, 'many': 1, '342': 1, 'seats': 1, 'another': 1, '144': 1, 'semi-urban': 1, 'according': 1, 'numbers': 1, 'based': 1, 'Census': 1, '2011': 1, 'classification': 1, 'A': 1, 'constituency': 1, 'marked': 1, '‘': 1, '’': 1, '75': 1, 'constituents': 1, 'live': 1, 'areas': 1, 'importance': 1, 'fact': 1, 'lost': 1, 'Bharatiya': 1, 'Janata': 1, 'Party': 1, '178': 1, '2014': 1, '66': 1, '2009': 1, 'caution': 1, 'also': 1, 'stems': 1, 'fiasco': 1, '2004': 1, 'Shining': 1, 'campaign': 1, 'backfired': 1, 'spelling': 1, 'losses': 1, 'BJP-led': 1, 'National': 1, 'Democratic': 1, 'Alliance': 1, 'came': 1, 'power': 1, 'May': 1, 'historic': 1, 'mandate': 1, 'seeking': 1, 'Congress-led': 1, 'opposition': 1, 'bidding': 1, 'alliances': 1, 'key': 1, 'states': 1, 'Given': 1, 'stakes': 1, 'held': 1, 'seven': 1, 'phases': 1, 'ending': 1, '19': 1, 'Over': 1, 'past': 1, 'years': 1, 'issues': 1, 'plaguing': 1, 'remained': 1, 'constant': 1, 'Soon': 1, 'Prime': 1, 'Minister': 1, 'Narendra': 1, 'Modi': 1, 'assumed': 1, 'large': 1, 'swathes': 1, 'grip': 1, 'drought': 1, 'lasted': 1, 'two': 1, 'June': 1, '2016': 1, 'crippling': 1, 'gave': 1, 'way': 1, 'three': 1, 'successive': 1, 'normal': 1, 'monsoon': 1, '2016-2018': 1, 'leading': 1, 'record': 1, 'harvests': 1, 'grains': 1, 'horticulture': 1, 'crops': 1, 'resulted': 1, 'sharp': 1, 'plunge': 1, 'crop': 1, 'prices': 1, 'government': 1, 'may': 1, 'set': 1, 'ambitious': 1, 'target': 1, 'double': 1, 'farmers': 1, 'incomes': 1, '2022': 1, '2015-16': 1, 'base': 1, 'year': 1, 'reality': 1, 'farm': 1, 'revenues': 1, 'collapsed': 1, 'due': 1, 'consistent': 1, 'fall': 1, 'In': 1, 'January': 1, 'wholesale': 1, 'food': 1, 'rose': 1, '2.3': 1, 'year-on-year': 1, 'negative': 1, 'territory': 1, 'month': 1, 'August': 1, 'December': 1, '2018': 1}, '0')

In [23]:
news1_features=[
    (build_bag_of_words_features_filtered(words(f,news1)), '1') \
    for f in range (0,2767)
]

In [24]:
news1_features[2766]

({'However': 1,
  'reports': 1,
  'suggest': 1,
  'would': 1,
  'another': 1,
  'smartphone': 1,
  'joining': 1,
  'line-up': 1,
  'namely': 1,
  'Galaxy': 1,
  'A60': 1,
  'In': 1,
  'report': 1,
  'GSMArena': 1,
  'stated': 1,
  'sport': 1,
  'looks': 1,
  'similar': 1,
  'A50': 1,
  'might': 1,
  'beefier': 1,
  'specifications': 1,
  'underneath': 1,
  'Qualcomm': 1,
  "'s": 1,
  'Snapdragon': 1,
  '6150': 1,
  'chipset': 1,
  'powering': 1,
  'This': 1,
  'paired': 1,
  '8GB': 1,
  'RAM': 1,
  '128GB': 1,
  'internal': 1,
  'storage': 1},
 '1')

In [26]:
news2_features=[
    (build_bag_of_words_features_filtered(words(f,news2)), '2') \
    for f in range (0,1919)
]

In [48]:
news3_features=[
    (build_bag_of_words_features_filtered(words(f,news3)), '3') \
    for f in range (0,1241)
]

In [49]:
news3_features[1240]

({'In': 1,
  'swap': 1,
  'auction': 1,
  'conducted': 1,
  '23': 1,
  'April': 1,
  'Reserve': 1,
  'Bank': 1,
  'received': 1,
  'bids': 1,
  'worth': 1,
  '18.65': 1,
  'billion': 1,
  '5': 1,
  'offer': 1,
  'It': 1,
  'accepted': 1,
  'five': 1,
  'reporting': 1,
  'week': 1,
  'foreign': 1,
  'currency': 1,
  'assets': 1,
  'major': 1,
  'component': 1,
  'overall': 1,
  'reserves': 1,
  'rose': 1,
  '4.387': 1,
  '390.421': 1},
 '3')

In [30]:
from nltk.classify import NaiveBayesClassifier

In [31]:
split=1000

In [32]:
news_classifier=NaiveBayesClassifier.train(news0_features[:split]+news1_features[:split]+news2_features[:split]+news3_features[:split])

In [33]:
nltk.classify.util.accuracy(news_classifier,news0_features[:split]+news1_features[:split]+news2_features[:split]+news3_features[:split])*100

97.425

In [34]:
nltk.classify.util.accuracy(news_classifier,news0_features[split:]+news1_features[split:]+news2_features[split:]+news3_features[split:])*100

91.1031042128603

In [36]:
news_classifier.show_most_informative_features()

Most Informative Features
                   Sabha = 1                   0 : 1      =    231.0 : 1.0
                     Lok = 1                   0 : 1      =    228.3 : 1.0
                    Modi = 1                   0 : 1      =    193.0 : 1.0
                     BJP = 1                   0 : 3      =    186.6 : 1.0
                   Party = 1                   0 : 1      =    167.7 : 1.0
                minister = 1                   0 : 1      =    159.0 : 1.0
                       ” = 1                   2 : 3      =    141.4 : 1.0
                Congress = 1                   0 : 2      =    134.1 : 1.0
                  Janata = 1                   0 : 1      =    126.3 : 1.0
               investors = 1                   3 : 0      =    126.3 : 1.0

In [79]:
news_test=pd.read_excel("Data_Test.xlsx",index=False)

In [43]:
test_news=news_test.pop("STORY")

In [44]:
test_news.head(-5)

0       2019 will see gadgets like gaming smartphones ...
1       It has also unleashed a wave of changes in the...
2       It can be confusing to pick the right smartpho...
3       The mobile application is integrated with a da...
4       We have rounded up some of the gadgets that sh...
5       "Imagine if every message you sent was kept wi...
6       Positioned along the four sides of the Asus RO...
7       In fact, when I applied to USC film school the...
8       As spotted by Android Police, Netflix is testi...
9       Her moves were immaculately choreographed as s...
10      The NCP leadership was under tremendous pressu...
11      On the traded volume front, 48.67 lakh shares ...
12      They wrote, “Welcoming Makkal Selvan Vijay Set...
13      The back of the phone features a 12MP+13MP AI ...
14      Talking about how the pressure got to her at o...
15      The Xiaomi Play is expected to have a CPU runn...
16      In January 2019, the telecom industry added 21...
17      Apart from the finalists, the grand finale als...
18      "We expect (a) slew of REIT IPOs to hit the ma...
19      According to the same report, Avengers Endgame...
20      “Wounded by Lannister riders, they will seek r...
21      With so much hatred around, through the show, ...
22      The Force Awakens, incidentally, wind up as th...
23      The two have been taking potshots at each othe...
24      Thakur said “they (authorities) wanted to forc...
25      “It’s seriously delightful that our new Dracul...
26      (Photo: Diljit Dosanjh/Instagram)Diljit Dosanj...
27      Some respite came from the 6% growth in utilit...
28      The outlook for India's rupee has deteriorated...
29      However, political analysts said that it will ...
                              ...
2713    Step up your cloud game: Cloud computing is a ...
2714    The 10-year bond yield stood at 7.341%, as com...
2715    While Sony and Microsoft bundle wireless game ...
2716    Under the Shopping tab in Google Search, users...
2717    After pulling off the action sequences, Ajith ...
2718    The party renominated its sitting MP Ranjet Ra...
2719    Was there a moment you were bullied?I was very...
2720    In Delhi, gold of 99.9% and 99.5% purities fel...
2721    Snapchat's controversial and criticised redesi...
2722    Of the eight states that faced single-phase po...
2723    Facebook pulled 513 Pages, Groups and accounts...
2724    One of the most popular female actors in the 1...
2725    Two Telugu TV actresses died in a road acciden...
2726    Google CEO Sundar Pichai introduced Duplex ear...
2727    ”Priyanka was replaced by Katrina Kaif, who wo...
2728    The Chinese smartphone manufacturer today intr...
2729    Samsung, the world’s largest smartphone maker,...
2730    Reliance Securities has revised TCS target pri...
2731    Music streaming may not be novel, but it’s sti...
2732    Ericsson India Pvt. Ltd had moved the Supreme ...
2733    On the other hand, the hotel and airline loyal...
2734    The Narendra Modi government simply finished t...
2735    The yield on 10-year Treasuries climbed two ba...
2736    Section 126 of the Representation of People Ac...
2737    With these techniques, machines are also learn...
2738    The traffic challan payment is also restricted...
2739    “We are not like Western countries, where peop...
2740    Further, SBICAP Securities says delivery of th...
2741    Two, Raj Thackeray’s Maharashtra Navnirman Sen...
2742    Senior leaders of the BJP are using the sugges...
Name: STORY, Length: 2743, dtype: object

In [53]:
newstest_features=[
    (build_bag_of_words_features_filtered(words(f,test_news)))\
    for f in range (0,2743)
]

In [54]:
newstest_features[3]

{'The': 1,
 'mobile': 1,
 'application': 1,
 'integrated': 1,
 'dashboard': 1,
 'confirm': 1,
 'register': 1,
 'pre-registered': 1,
 'cases': 1,
 'enable': 1,
 'online': 1,
 'interface': 1,
 'beneficiary': 1,
 'panel': 1,
 'lawyer': 1,
 'video': 1,
 'conferencing': 1,
 'telephone': 1,
 'facility': 1,
 'Prasad': 1,
 'said': 1,
 'pilot': 1,
 'project': 1,
 'regard': 1,
 'proved': 1,
 'useful': 1,
 '50,000': 1,
 'people': 1,
 'already': 1,
 'availed': 1,
 'service': 1,
 'Till': 1,
 'January': 1,
 'resulted': 1,
 'enabling': 1,
 'legal': 1,
 'advice': 1,
 '49,192': 1,
 'beneficiaries': 1,
 'include': 1,
 '36,526': 1,
 'Women': 1,
 '7049': 1,
 'SC': 1,
 '13970': 1,
 'ST': 1,
 '11': 1,
 'states': 1,
 'including': 1,
 'Uttar': 1,
 'Pradesh': 1,
 'Bihar': 1,
 'North-Eastern': 1,
 'State': 1,
 'Jammu': 1,
 'Kashmir': 1,
 'law': 1,
 'minister': 1,
 'view': 1,
 'pro': 1,
 'bono': 1,
 'appearances': 1,
 'lawyers': 1,
 'considered': 1,
 'criteria': 1,
 'appointment': 1,
 'judges': 1,
 'He': 1,
 'also': 1,
 'need': 1,
 'literacy': 1,
 'India': 1}

In [69]:
news_classifier.labels()

['0', '1', '2', '3']

In [75]:
final=[]
for a in range (0,2743):
 label= news_classifier.classify(newstest_features[a])
 final.append(label)
print(final)

['1', '2', '1', '0', '1', '1', '1', '0', '1', '2', '0', '3', '2', '1', '0', '1', '1', '2', '3', '2', '2', '0', '2', '0', '0', '2', '2', '3', '3', '0', '1', '3', '0', '0', '2', '1', '0', '2', '0', '1', '0', '1', '3', '0', '2', '2', '1', '1', '0', '1', '3', '2', '1', '2', '2', '0', '1', '1', '0', '1', '1', '2', '3', '2', '1', '1', '2', '0', '0', '1', '0', '1', '0', '0', '0', '1', '1', '1', '2', '2', '3', '0', '3', '0', '1', '2', '2', '2', '1', '1', '1', '2', '1', '1', '1', '1', '0', '2', '2', '2', '1', '0', '1', '3', '1', '1', '2', '0', '2', '3', '1', '1', '2', '0', '1', '1', '3', '3', '1', '1', '1', '3', '0', '0', '0', '3', '3', '3', '2', '1', '1', '2', '1', '0', '3', '1', '1', '1', '1', '2', '1', '0', '0', '1', '2', '1', '2', '2', '2', '1', '2', '1', '1', '1', '2', '1', '1', '1', '1', '2', '2', '1', '0', '0', '0', '2', '0', '1', '1', '2', '0', '2', '2', '1', '1', '1', '0', '1', '2', '0', '1', '3', '1', '2', '2', '1', '3', '1', '1', '2', '2', '1', '2', '1', '1', '1', '0', '1', '3', '1', '0', '1', '1', '1', '2', '1', '1', '1', '3', '2', '0', '0', '2', '3', '1', '1', '2', '1', '1', '2', '0', '1', '0', '1', '1', '1', '1', '1', '1', '0', '0', '1', '1', '3', '1', '2', '2', '0', '2', '1', '2', '0', '1', '2', '1', '2', '2', '1', '1', '3', '1', '1', '0', '2', '1', '1', '3', '0', '1', '2', '2', '2', '0', '0', '2', '0', '1', '1', '2', '1', '0', '2', '1', '1', '2', '1', '3', '1', '1', '1', '1', '1', '2', '1', '1', '0', '3', '1', '2', '2', '0', '1', '2', '2', '1', '1', '1', '1', '0', '0', '0', '0', '1', '0', '1', '0', '1', '1', '2', '0', '1', '0', '1', '1', '0', '0', '3', '1', '3', '1', '1', '2', '1', '3', '0', '1', '0', '1', '1', '2', '1', '2', '3', '1', '0', '0', '2', '0', '1', '2', '1', '1', '0', '3', '1', '2', '2', '3', '2', '1', '0', '1', '1', '1', '2', '2', '1', '1', '3', '2', '0', '3', '1', '1', '2', '2', '3', '2', '0', '1', '1', '1', '0', '1', '0', '0', '2', '2', '1', '1', '2', '1', '1', '2', '0', '2', '2', '0', '1', '1', '1', '2', '0', '3', '3', '0', '1', '0', '0', '3', '2', '1', '1', '2', '1', '2', '0', '2', '2', '1', '1', '3', '2', '3', '3', '0', '1', '0', '1', '1', '0', '1', '0', '3', '0', '2', '1', '1', '1', '1', '0', '1', '1', '1', '0', '1', '0', '0', '2', '2', '2', '2', '1', '1', '1', '1', '1', '3', '0', '0', '2', '2', '2', '1', '1', '0', '2', '1', '2', '0', '2', '1', '1', '1', '2', '2', '1', '1', '3', '3', '1', '3', '1', '2', '0', '1', '3', '0', '1', '1', '1', '3', '0', '0', '3', '1', '1', '1', '1', '1', '1', '0', '2', '2', '1', '0', '1', '1', '3', '3', '1', '1', '3', '2', '1', '1', '2', '3', '1', '0', '2', '1', '0', '2', '1', '1', '3', '0', '2', '1', '1', '1', '1', '2', '1', '2', '3', '1', '2', '1', '2', '1', '0', '2', '0', '1', '1', '3', '1', '1', '1', '2', '0', '3', '2', '2', '1', '1', '2', '2', '1', '1', '1', '1', '2', '0', '3', '1', '1', '1', '1', '1', '3', '1', '1', '1', '1', '1', '2', '1', '1', '3', '0', '1', '1', '2', '2', '0', '1', '3', '1', '2', '1', '2', '2', '0', '2', '0', '1', '1', '2', '1', '2', '1', '1', '0', '1', '3', '1', '2', '1', '2', '0', '2', '0', '0', '1', '1', '1', '1', '2', '1', '1', '2', '3', '3', '1', '1', '0', '1', '0', '1', '1', '2', '1', '1', '2', '1', '1', '1', '2', '3', '2', '1', '1', '1', '1', '2', '1', '0', '1', '3', '1', '1', '1', '0', '1', '1', '1', '0', '0', '1', '0', '3', '1', '1', '1', '3', '1', '0', '2', '1', '2', '0', '1', '1', '1', '3', '1', '1', '3', '0', '2', '0', '3', '0', '1', '1', '1', '2', '2', '0', '1', '2', '2', '1', '1', '1', '1', '2', '3', '3', '2', '2', '1', '2', '2', '1', '0', '1', '1', '1', '3', '1', '2', '1', '1', '1', '1', '1', '2', '2', '1', '1', '1', '2', '1', '3', '0', '2', '0', '0', '0', '2', '0', '2', '2', '0', '2', '2', '3', '0', '2', '1', '1', '3', '1', '1', '2', '2', '3', '1', '0', '1', '1', '1', '1', '0', '1', '2', '3', '3', '1', '0', '1', '0', '1', '1', '2', '2', '1', '2', '1', '2', '1', '1', '2', '2', '2', '0', '0', '2', '0', '1', '2', '1', '1', '3', '2', '1', '1', '2', '1', '1', '0', '0', '1', '1', '1', '1', '1', '1', '1', '0', '1', '1', '1', '3', '2', '3', '1', '3', '1', '0', '0', '1', '1', '2', '1', '1', '2', '0', '0', '3', '2', '1', '0', '1', '2', '2', '2', '0', '2', '1', '0', '3', '1', '2', '1', '2', '0', '3', '0', '0', '0', '2', '0', '0', '1', '2', '3', '1', '0', '2', '1', '1', '2', '1', '3', '1', '1', '1', '2', '2', '1', '1', '0', '2', '3', '1', '0', '2', '1', '1', '2', '1', '1', '1', '1', '1', '0', '0', '3', '0', '1', '0', '1', '1', '1', '1', '2', '2', '1', '2', '1', '1', '1', '0', '2', '2', '2', '2', '3', '1', '1', '0', '1', '1', '1', '2', '1', '0', '1', '0', '3', '2', '3', '2', '1', '0', '0', '1', '1', '1', '1', '0', '1', '2', '3', '1', '0', '0', '1', '0', '1', '1', '1', '3', '1', '1', '1', '2', '1', '1', '2', '1', '1', '1', '1', '1', '0', '0', '0', '0', '1', '1', '2', '0', '2', '3', '2', '0', '3', '1', '0', '3', '2', '2', '0', '3', '1', '0', '3', '3', '3', '0', '3', '0', '2', '2', '0', '2', '3', '1', '1', '1', '2', '1', '3', '2', '0', '3', '0', '1', '2', '3', '1', '3', '2', '0', '2', '0', '3', '1', '3', '1', '1', '1', '0', '1', '0', '3', '0', '1', '2', '0', '0', '1', '2', '0', '1', '1', '1', '3', '0', '1', '2', '1', '2', '2', '1', '2', '0', '1', '2', '2', '3', '1', '1', '1', '1', '0', '1', '2', '0', '2', '3', '2', '1', '1', '1', '3', '0', '1', '1', '2', '0', '1', '3', '1', '1', '1', '1', '0', '3', '1', '1', '1', '2', '1', '0', '0', '3', '1', '2', '2', '1', '0', '1', '1', '0', '0', '1', '3', '1', '1', '3', '1', '2', '2', '1', '2', '0', '3', '0', '1', '1', '3', '0', '1', '1', '3', '2', '0', '0', '1', '0', '3', '1', '0', '1', '3', '1', '2', '2', '0', '1', '1', '0', '3', '0', '1', '1', '2', '1', '1', '2', '0', '3', '0', '0', '1', '1', '1', '1', '3', '1', '2', '1', '1', '0', '2', '0', '3', '2', '1', '1', '1', '2', '2', '2', '1', '0', '0', '1', '2', '2', '1', '1', '0', '2', '2', '0', '3', '3', '2', '3', '1', '3', '3', '2', '1', '1', '1', '1', '2', '1', '1', '1', '1', '1', '2', '0', '1', '2', '0', '0', '1', '1', '0', '0', '3', '0', '2', '1', '1', '1', '1', '1', '0', '3', '0', '0', '2', '1', '2', '0', '3', '1', '2', '2', '2', '2', '2', '1', '0', '2', '3', '1', '1', '2', '0', '1', '0', '1', '2', '0', '2', '2', '3', '3', '1', '2', '1', '1', '2', '1', '3', '2', '1', '2', '0', '1', '1', '1', '3', '1', '1', '1', '0', '0', '0', '1', '0', '2', '1', '1', '1', '1', '0', '2', '1', '1', '3', '0', '1', '1', '1', '3', '1', '0', '0', '1', '1', '2', '0', '0', '0', '1', '1', '2', '1', '1', '1', '1', '1', '3', '1', '0', '1', '0', '1', '2', '1', '0', '1', '0', '1', '1', '1', '3', '1', '2', '1', '1', '1', '2', '1', '3', '1', '0', '1', '1', '0', '0', '1', '1', '1', '1', '1', '1', '1', '2', '0', '1', '1', '1', '2', '0', '2', '1', '1', '1', '0', '1', '2', '1', '1', '1', '1', '0', '1', '2', '0', '3', '0', '2', '0', '2', '0', '1', '2', '2', '2', '2', '1', '1', '0', '1', '2', '0', '1', '3', '1', '0', '0', '0', '0', '3', '1', '1', '1', '3', '1', '0', '1', '1', '0', '1', '2', '1', '0', '0', '3', '1', '0', '1', '0', '1', '2', '0', '1', '2', '1', '3', '3', '2', '1', '1', '2', '1', '2', '3', '2', '1', '0', '3', '2', '1', '0', '1', '1', '2', '1', '2', '1', '0', '1', '2', '0', '2', '3', '0', '2', '2', '1', '3', '0', '0', '3', '3', '0', '0', '3', '3', '0', '0', '1', '0', '0', '3', '1', '0', '2', '2', '0', '2', '1', '0', '1', '0', '2', '0', '2', '1', '0', '0', '1', '1', '1', '1', '1', '1', '1', '1', '0', '1', '1', '1', '0', '1', '1', '0', '1', '1', '1', '0', '1', '1', '0', '2', '2', '3', '2', '2', '1', '1', '2', '1', '1', '0', '1', '2', '2', '0', '3', '2', '0', '2', '2', '3', '1', '0', '3', '0', '2', '1', '1', '0', '0', '1', '2', '1', '0', '2', '0', '2', '1', '3', '3', '2', '2', '0', '1', '1', '1', '1', '1', '1', '1', '1', '1', '2', '1', '1', '3', '0', '0', '1', '1', '1', '2', '1', '1', '1', '1', '0', '2', '1', '1', '1', '1', '1', '2', '3', '1', '2', '1', '3', '2', '2', '1', '3', '1', '1', '2', '2', '2', '0', '0', '0', '0', '2', '1', '1', '2', '1', '2', '1', '1', '1', '2', '1', '0', '3', '0', '3', '1', '3', '2', '1', '1', '1', '2', '1', '1', '1', '3', '1', '1', '1', '1', '0', '0', '0', '1', '1', '1', '2', '0', '1', '3', '2', '0', '1', '0', '2', '2', '0', '0', '2', '2', '0', '3', '1', '1', '0', '1', '3', '2', '2', '2', '0', '0', '1', '2', '1', '1', '2', '0', '1', '3', '2', '1', '2', '1', '1', '1', '0', '1', '1', '0', '2', '2', '0', '1', '1', '2', '2', '1', '1', '1', '1', '1', '2', '0', '0', '1', '0', '0', '1', '2', '2', '2', '0', '2', '1', '1', '3', '0', '2', '2', '3', '1', '0', '0', '0', '0', '0', '0', '0', '1', '2', '0', '1', '1', '1', '1', '1', '0', '1', '0', '1', '1', '3', '3', '1', '2', '0', '0', '2', '2', '1', '1', '2', '2', '1', '1', '1', '2', '1', '3', '1', '0', '2', '1', '2', '1', '2', '1', '0', '2', '0', '1', '2', '3', '2', '1', '1', '0', '1', '0', '0', '3', '2', '1', '0', '3', '1', '2', '1', '1', '1', '2', '3', '1', '3', '1', '1', '1', '1', '0', '1', '1', '0', '0', '0', '1', '1', '2', '1', '2', '1', '3', '1', '1', '1', '1', '2', '0', '2', '1', '1', '2', '1', '3', '0', '2', '1', '0', '0', '1', '0', '1', '1', '2', '3', '2', '2', '2', '2', '1', '0', '2', '1', '1', '1', '0', '0', '1', '1', '1', '0', '2', '3', '1', '3', '2', '1', '0', '2', '1', '0', '1', '3', '1', '0', '2', '1', '0', '2', '1', '1', '0', '1', '1', '1', '2', '2', '1', '1', '2', '2', '3', '0', '1', '0', '2', '3', '1', '1', '1', '0', '0', '1', '1', '2', '0', '3', '1', '2', '0', '0', '0', '1', '0', '1', '0', '1', '2', '2', '2', '3', '1', '1', '0', '1', '3', '0', '0', '0', '3', '1', '2', '1', '1', '0', '0', '3', '1', '1', '0', '3', '3', '1', '3', '2', '3', '1', '0', '2', '1', '1', '2', '1', '0', '2', '0', '1', '1', '3', '1', '3', '0', '0', '0', '1', '3', '1', '0', '1', '0', '1', '2', '1', '2', '0', '1', '0', '1', '3', '1', '1', '3', '1', '0', '1', '1', '0', '0', '0', '0', '2', '2', '1', '1', '3', '0', '1', '1', '2', '2', '0', '1', '2', '1', '1', '1', '1', '3', '3', '1', '1', '0', '0', '1', '0', '1', '2', '1', '1', '1', '0', '1', '0', '0', '0', '3', '2', '2', '1', '1', '1', '0', '1', '1', '0', '1', '2', '2', '1', '1', '1', '1', '0', '2', '1', '3', '1', '2', '2', '3', '2', '1', '3', '2', '1', '1', '1', '1', '1', '2', '1', '1', '0', '0', '0', '0', '0', '1', '0', '0', '3', '0', '3', '1', '2', '3', '2', '1', '2', '1', '1', '3', '3', '2', '1', '2', '0', '0', '2', '1', '0', '2', '3', '1', '1', '1', '0', '0', '0', '2', '1', '1', '1', '2', '1', '1', '2', '0', '1', '1', '2', '2', '2', '3', '1', '1', '2', '0', '2', '3', '1', '1', '1', '3', '1', '2', '1', '1', '2', '1', '2', '0', '2', '2', '1', '0', '2', '2', '0', '0', '0', '0', '1', '3', '1', '2', '1', '2', '2', '2', '2', '2', '0', '2', '1', '2', '3', '1', '1', '3', '0', '0', '1', '1', '2', '1', '2', '1', '1', '1', '2', '1', '2', '3', '2', '2', '3', '1', '0', '3', '1', '2', '1', '2', '1', '1', '1', '1', '2', '2', '1', '1', '0', '1', '3', '1', '2', '2', '0', '2', '2', '0', '2', '1', '3', '1', '1', '3', '1', '0', '1', '2', '1', '0', '3', '2', '1', '1', '3', '1', '1', '3', '0', '2', '1', '3', '3', '0', '3', '1', '0', '1', '2', '0', '3', '0', '0', '3', '1', '2', '2', '1', '2', '0', '1', '0', '1', '0', '1', '2', '2', '0', '1', '0', '2', '0', '0', '1', '1', '1', '0', '1', '0', '3', '3', '0', '1', '2', '0', '0', '1', '0', '2', '2', '0', '0', '0', '1', '0', '3', '1', '1', '1', '3', '1', '1', '1', '2', '1', '1', '3', '1', '1', '3', '1', '0', '1', '1', '0', '1', '2', '1', '0', '2', '1', '2', '2', '0', '1', '1', '1', '0', '2', '0', '2', '2', '2', '2', '1', '0', '2', '0', '1', '2', '2', '0', '1', '1', '2', '0', '0', '1', '2', '1', '1', '0', '1', '2', '0', '1', '1', '0', '1', '1', '3', '0', '2', '2', '2', '2', '1', '2', '3', '1', '1', '0', '1', '3', '1', '1', '1', '1', '0', '1', '1', '1', '1', '1', '1', '2', '1', '1', '1', '1', '0', '1', '1', '0', '1', '3', '2', '0', '0', '3', '1', '2', '0', '0', '3', '0', '0', '2', '1', '2', '3', '1', '2', '2', '1', '2', '2', '3', '0', '1', '1', '0', '1', '3', '1', '2', '3', '1', '1', '1', '0', '0', '1', '2', '1', '0', '0', '2', '2', '0', '1', '3', '1', '0', '1', '1', '1', '1', '3', '1', '1', '3', '2', '1', '1', '1', '2', '0', '1', '1', '1', '1', '1', '1', '2', '3', '2', '1', '2', '2', '2', '0', '2', '0', '2', '2', '1', '2', '3', '0', '2', '1', '1', '0', '1', '2', '3', '2', '1', '0', '1', '2', '1', '3', '0', '1', '1', '1', '2', '0', '1', '1', '1', '1', '0', '0', '0', '1', '2', '1', '1', '0', '0', '0', '1', '0', '2', '1', '1', '1', '0', '1', '0', '1', '1', '2', '1', '0', '2', '1', '3', '3', '0', '3', '2', '1', '0', '1', '1', '1', '3', '1', '1', '3', '3', '1', '3', '2', '1', '1', '1', '1', '1', '1', '2', '0', '1', '0', '1', '2', '2', '1', '3', '2', '0', '1', '1', '2', '3', '1', '2', '0', '1', '2', '2', '1', '1', '1', '3', '3', '1', '2', '1', '1', '2', '1', '3', '2', '0', '1', '3', '3', '2', '0', '2', '1', '1', '1', '0', '0', '0', '0', '1', '1', '2', '3', '1', '0', '1', '1', '2', '2', '0', '3', '2', '2', '0', '0', '3', '3', '1', '0', '1', '2', '1', '1', '1', '0', '1', '2', '1', '2', '0', '1', '1', '3', '2', '2', '0', '1', '0', '1', '1', '2', '3', '0', '1', '1', '1', '1', '3', '1', '1', '1', '0', '0', '2', '1', '1', '1', '1', '2', '1', '1', '1', '1', '2', '2', '0', '0', '1', '3', '1', '1', '1', '1', '2', '1', '2', '3', '3', '1', '1', '1', '1', '0', '2', '0', '2', '1', '1', '2', '3', '2', '2', '0', '2', '1', '0', '0', '0', '3', '2', '3', '3', '0', '2', '2', '2', '1', '3', '3', '1', '1', '1', '2', '0', '1', '3', '2', '0', '0', '2', '3', '1', '0', '1', '1', '1', '1', '1', '2', '2', '1', '2', '3', '1', '3', '1', '1', '2', '1', '1', '2', '1', '1', '1', '1', '1', '2', '1', '1', '3', '1', '0', '2', '1', '1', '3', '0', '0', '3', '1', '2', '1', '2', '1', '0', '1', '0', '2', '0', '1', '1', '3', '1', '2', '2', '1', '1', '3', '1', '1', '1', '0', '3', '1', '1', '3', '1', '1', '2', '0', '2', '3', '1', '0', '1', '2', '0', '1', '2', '1', '1', '3', '1', '3', '1', '0', '3', '0', '1', '1', '1', '3', '0', '0']

In [109]:
value_column=pd.DataFrame({"SECTION":final})

In [110]:
value_column

     SECTION
0          1
1          2
2          1
3          0
4          1
5          1
6          1
7          0
8          1
9          2
10         0
11         3
12         2
13         1
14         0
15         1
16         1
17         2
18         3
19         2
20         2
21         0
22         2
23         0
24         0
25         2
26         2
27         3
28         3
29         0
...      ...
2713       1
2714       3
2715       1
2716       1
2717       2
2718       0
2719       2
2720       3
2721       1
2722       0
2723       1
2724       2
2725       0
2726       1
2727       2
2728       1
2729       1
2730       3
2731       1
2732       3
2733       1
2734       0
2735       3
2736       0
2737       1
2738       1
2739       1
2740       3
2741       0
2742       0

[2743 rows x 1 columns]

In [84]:
news_test.head()

                                               STORY
0  2019 will see gadgets like gaming smartphones ...
1  It has also unleashed a wave of changes in the...
2  It can be confusing to pick the right smartpho...
3  The mobile application is integrated with a da...
4  We have rounded up some of the gadgets that sh...

In [85]:
joined =pd.concat([news_test,value_column],axis=1,join='inner')

In [86]:
joined.head()

                                               STORY  0
0  2019 will see gadgets like gaming smartphones ...  1
1  It has also unleashed a wave of changes in the...  2
2  It can be confusing to pick the right smartpho...  1
3  The mobile application is integrated with a da...  0
4  We have rounded up some of the gadgets that sh...  1

In [111]:
joined.columns

Index(['STORY', 0], dtype='object')

In [112]:
joined.to_excel("result.xlsx")

In [113]:
value_column.to_excel("submission.xlsx")